.App {
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  height: 754px;
  overflow: hidden;
}

.content-block {
  border-radius: 15px;
  background: #fff;
  height: 500px;
  width: 500px;
  left: 33%;
  top: 15%;
  position: absolute;
}

.chat-input {
  border: none;
  border-bottom: 2px solid #d9d9d9;
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  height: 30px;
  left: 20%;
  outline: none;
  text-align: center;
  position: relative;
  width: 300px;
}

.chat-input:focus {
  border-bottom: 2px solid #d9d9d9;
  transition: all 0.4s;
  background: rgba(0,0,0,0.1);
}

.top-input {
  margin-top: 50px;
}

.date-input {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.date-input-birth {
  display: flex;
  flex-direction: row;
  width: 320px;
}

.date-input-birth > .chat-input {
  display: flex;
  margin-left: 15px;
  margin-top: 10px;
  left: 0;
  width: 33%;
}

.user-name {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.horoscope-answer {
  left: 20%;
  position: absolute;
  width: 320px;
}

