.App {
  background: linear-gradient(45deg, #00dbde, #fc00ff);
  height: 754px;
  overflow: hidden;
}

.chat {
  border-radius: 15px;
  background: #fff;
  height: 500px;
  width: 500px;
  left: 33%;
  top: 15%;
  position: absolute;
}

.chat-input {
  border: none;
  border-bottom: 2px solid #d9d9d9;
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 16px;
  height: 30px;
  left: 20%;
  outline: none;
  padding-left: 15px;
  position: absolute;
  top: 80%;
  width: 300px;
}

.chat-input:focus {
  border-bottom: 2px solid #d9d9d9;
  transition: all 0.4s;
  background: rgba(0,0,0,0.1);
}

.chat-history {
  display: flex;
  flex-direction: column;
  height: 300px;
  left: 25px;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 25px;
  width: 450px;
}

.history-item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.history-item:first-child {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  flex-direction: row;
  margin-top: 10px;
}

.history-item-user {
  background: rgba(0, 0, 0, 0.06);
  margin-left: 10px;
}

.history-item-bot {
  background: #b3daff;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-right: 10px;
  text-align: left;
}

.history-item-user, .history-item-bot {
  padding: 10px;
  border-radius: 6px;
  height: fit-content;
  width: fit-content;
  transition: opacity 4s ease-out;
}

.chat-history::-webkit-scrollbar {
  width: 6px;
}

.chat-history::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.05);
}

.chat-history::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

.chat-history::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.chat-counter {
  border-radius: 15px;
  background: #fff;
  color: #333;
  font-family: Verdana, sans-serif;
  font-size: 18px;
  position: absolute;
  right: 20px;
  padding: 20px 30px;
  top: 20px;
}

.chat-counter > span {
  font-weight: 600;
}